$color_1: inherit;
$color_2: #404040;
$link_colour: black;
$link_colour_hover: #0073e5;
$color_5: rgba(0, 0, 0, 0.8);
$color_6: #666;
$color_7: #111;
$color_8: #000;
$color_9: #21759b;
$font-family_1: monospace, monospace;
$font-family_2: inherit;
$headings_font: "Garamond";
$main_font: "Georgia";
$font-family_5: "Courier 10 Pitch", courier, monospace;
$font-family_6: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$background-color_1: transparent;
$background-color_2: #ccc;
$background-color_3: #f1f1f1;
$border-color_1: #ccc #ccc #bbb;
$border-color_2: #ccc #bbb #aaa;
$border-color_3: #aaa #bbb #bbb;


html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}
body {
	margin: 0;
	color: $color_2;
	line-height: 1.5;
	background: #fff;
}
main {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
	font-family: $headings_font;
	font-size: 18px;
	clear: both;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	background-color: $background-color_2;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
pre {
	font-family: $font-family_1;
	font-size: 1em;
	background: #eee;
	font-family: $font-family_5;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
a {
	background-color: $background-color_1;
	color: $link_colour;
	&:hover {
		color: $link_colour_hover;
		outline: 0;
	}
	&:focus {
		color: $link_colour_hover;
		outline: black;
	}
	&:active {
		color: $link_colour_hover;
		outline: 0;
	}
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b {
	font-weight: bolder;
}
strong {
	font-weight: bolder;
}
code {
	font-family: $font-family_1;
	font-size: 1em;
	font-family: $font-family_6;
}
kbd {
	font-family: $font-family_1;
	font-size: 1em;
	font-family: $font-family_6;
}
samp {
	font-family: $font-family_1;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	bottom: -0.25em;
}
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}
img {
	border-style: none;
	height: auto;
	max-width: 100%;
}
button {
	font-family: $font-family_2;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow: visible;
	text-transform: none;
	-webkit-appearance: button;
	color: $color_2;
	line-height: 1.5;
	font-family: $headings_font;
	font-size: 18px;
	clear: both;
	border: 1px solid;
	border-color: $border-color_1;
	border-radius: 3px;
	background: #e6e6e6;
	color: $color_5;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
	&:hover {
		border-color: $border-color_2;
	}
	&:active {
		border-color: $border-color_3;
	}
	&:focus {
		border-color: $border-color_3;
	}
}
input {
	font-family: $font-family_2;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow: visible;
	color: $color_2;
	line-height: 1.5;
}
optgroup {
	font-family: $font-family_2;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	color: $color_2;
	line-height: 1.5;
}
select {
	font-family: $font-family_2;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	text-transform: none;
	color: $color_2;
	line-height: 1.5;
	border: 1px solid #ccc;
}
textarea {
	font-family: $font-family_2;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow: auto;
	color: $color_2;
	line-height: 1.5;
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	width: 100%;
	&:focus {
		color: $color_7;
	}
}
[type="button"] {
	-webkit-appearance: button;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}
[type="reset"] {
	-webkit-appearance: button;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}
[type="submit"] {
	-webkit-appearance: button;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: $color_1;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	vertical-align: baseline;
}
[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
[type="number"] {
	&::-webkit-inner-spin-button {
		height: auto;
	}
	&::-webkit-outer-spin-button {
		height: auto;
	}
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details {
	display: block;
}
summary {
	display: list-item;
}
template {
	display: none;
}
[hidden] {
	display: none;
}
* {
	box-sizing: inherit;
	&::before {
		box-sizing: inherit;
	}
	&::after {
		box-sizing: inherit;
	}
}
h2 {
	font-family: $headings_font;
	font-size: 18px;
	clear: both;
}
h3 {
	font-family: $headings_font;
	font-size: 18px;
	clear: both;
}
h4 {
	font-family: $headings_font;
	font-size: 18px;
	clear: both;
}
h5 {
	font-family: $headings_font;
	font-size: 18px;
	clear: both;
}
h6 {
	font-family: $headings_font;
	font-size: 18px;
	clear: both;
}
h1.entry-title {
	display: none;
}
p {
	font-family: $main_font;
	font-size: 18px;
	margin-bottom: 1.5em;
}
dfn {
	font-style: italic;
}
cite {
	font-style: italic;
}
em {
	font-style: italic;
}
i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
tt {
	font-family: $font-family_6;
}
var {
	font-family: $font-family_6;
}
abbr {
	border-bottom: 1px dotted #666;
	cursor: help;
}
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark {
	background: #fff9c0;
	text-decoration: none;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
big {
	font-size: 125%;
}
.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
div.wp-block-columns {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
ul {
	margin: 0 0 1.5em 3em;
	list-style: disc;
}
ol {
	margin: 0 0 1.5em 3em;
	list-style: decimal;
}
li {
	>ul {
		margin-bottom: 0;
		margin-left: 1.5em;
	}
	>ol {
		margin-bottom: 0;
		margin-left: 1.5em;
	}
}
dt {
	font-weight: 700;
}
dd {
	margin: 0 1.5em 1.5em;
}
embed {
	max-width: 100%;
}
iframe {
	max-width: 100%;
}
object {
	max-width: 100%;
}
figure {
	margin: 1em 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
input[type="button"] {
	border: 1px solid;
	border-color: $border-color_1;
	border-radius: 3px;
	background: #e6e6e6;
	color: $color_5;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	&:hover {
		border-color: $border-color_2;
	}
	&:active {
		border-color: $border-color_3;
	}
	&:focus {
		border-color: $border-color_3;
	}
}
input[type="reset"] {
	border: 1px solid;
	border-color: $border-color_1;
	border-radius: 3px;
	background: #e6e6e6;
	color: $color_5;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	&:hover {
		border-color: $border-color_2;
	}
	&:active {
		border-color: $border-color_3;
	}
	&:focus {
		border-color: $border-color_3;
	}
}
input[type="submit"] {
	border: 1px solid;
	border-color: $border-color_1;
	border-radius: 3px;
	background: #e6e6e6;
	color: $color_5;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	&:hover {
		border-color: $border-color_2;
	}
	&:active {
		border-color: $border-color_3;
	}
	&:focus {
		border-color: $border-color_3;
	}
}
input[type="text"] {
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	&:focus {
		color: $color_7;
	}
}
input[type="email"] {
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	&:focus {
		color: $color_7;
	}
}
input[type="url"] {
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	&:focus {
		color: $color_7;
	}
}
input[type="password"] {
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	&:focus {
		color: $color_7;
	}
}
input[type="search"] {
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	&:focus {
		color: $color_7;
	}
}
input[type="number"] {
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	&:focus {
		color: $color_7;
	}
}
input[type="tel"] {
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	&:focus {
		color: $color_7;
	}
}
input[type="range"] {
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	&:focus {
		color: $color_7;
	}
}
input[type="date"] {
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	&:focus {
		color: $color_7;
	}
}
input[type="month"] {
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	&:focus {
		color: $color_7;
	}
}
input[type="week"] {
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	&:focus {
		color: $color_7;
	}
}
input[type="time"] {
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	&:focus {
		color: $color_7;
	}
}
input[type="datetime"] {
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	&:focus {
		color: $color_7;
	}
}
input[type="datetime-local"] {
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	&:focus {
		color: $color_7;
	}
}
input[type="color"] {
	color: $color_6;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	&:focus {
		color: $color_7;
	}
}
.main-navigation {
	display: block;
	width: 100%;
	ul {
		display: none;
		list-style: none;
		margin: 1em;
		padding-left: 0;
		float: right;
		ul {
			align: right;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			ul {
				left: -999em;
				top: 0;
			}
			li {
				&:hover {
					>ul {
						display: block;
						left: auto;
					}
				}
			}
			li.focus {
				>ul {
					display: block;
					left: auto;
				}
			}
			a {
				width: 200px;
			}
		}
		li {
			&:hover {
				>ul {
					left: auto;
				}
			}
		}
		li.focus {
			>ul {
				left: auto;
			}
		}
	}
	li {
		position: relative;
		padding-left: 1em;
	}
	a {
		display: block;
		text-decoration: none;
	}
}
.menu-toggle {
	display: block;
}
.main-navigation.toggled {
	ul {
		display: block;
	}
}
div.custom-menu-class {
	ul {
		margin: 20px 0 20px 0;
		list-style: none;
		text-align: right;
		display: inline-block;
	}
	li {
		padding: 0 20px 0 0;
		display: inline-block;
	}
	a {
		color: $color_8;
	}
}
.site-main {
	.comment-navigation {
		margin: 0 0 1.5em;
	}
	.posts-navigation {
		margin: 0 0 1.5em;
	}
	.post-navigation {
		margin: 0 0 1.5em;
	}
}
.comment-navigation {
	.nav-links {
		display: flex;
	}
	.nav-previous {
		flex: 1 0 50%;
	}
	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
.posts-navigation {
	.nav-links {
		display: flex;
	}
	.nav-previous {
		flex: 1 0 50%;
	}
	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
.post-navigation {
	.nav-links {
		display: flex;
	}
	.nav-previous {
		flex: 1 0 50%;
	}
	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
.sticky {
	display: block;
}
.post {
	margin: 0 0 1.5em;
}
.page {
	margin: 0 0 1.5em;
}
.updated {
	&:not(.published) {
		display: none;
	}
}
.page-content {
	margin: 1.5em 0 0;
	.wp-smiley {
		border: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
	}
}
.entry-content {
	margin: 1.5em 0 0;
	.wp-smiley {
		border: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
	}
}
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.comment-content {
	a {
		word-wrap: break-word;
	}
	.wp-smiley {
		border: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
	}
}
.bypostauthor {
	display: block;
}
.widget {
	margin: 0 0 1.5em;
	select {
		max-width: 100%;
	}
}
.custom-logo-link {
	display: inline-block;
}
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	img[class*="wp-image-"] {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.wp-caption-text {
		margin: 0.8075em 0;
	}
}
.wp-caption-text {
	text-align: center;
}
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}
.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}
.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}
.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}
.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}
.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}
.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}
.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}
.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}
.gallery-caption {
	display: block;
}
.infinite-scroll {
	.posts-navigation {
		display: none;
	}
}
.infinite-scroll.neverending {
	.site-footer {
		display: none;
	}
}
.infinity-end.neverending {
	.site-footer {
		display: block;
	}
}
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	&:focus {
		background-color: $background-color_3;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: $color_9;
		display: block;
		font-size: 0.875rem;
		font-weight: 700;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
	}
}
#primary[tabindex="-1"] {
	&:focus {
		outline: 0;
	}
}
.alignleft {
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}
.alignright {
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}
@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation {
		ul {
			display: flex;
		}
	}
}